<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (one)</title>
    <style>
        body{
            font-family: cursive;
            font-size: 19px;
        }
    </style>
</head>
<body>
    <h1>TV Show {{channel.id}}</h1>
    <p>Title : {{channel.title}}</p>
    <p>Network : {{channel.network}}</p>
    <p>Release Date : {{channel.release_date}}</p>
    <p>Description : {{channel.description}}</p>
    <p>Last Updated : {{channel.updated_at}}</p>  
    <p><a href="http://127.0.0.1:8000/update/{{channel.id}}/edit">Edit</a> | <a href="http://127.0.0.1:8000/delete/{{channel.id}}">Delete</a></p>
</body>
</html>