<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="process" method="post">
        <p>Your Name : <input type="text" name="username"></p>
        <p> Dojo Location : <select name="Location">
            <option>Ramallah</option>
            <option>Jerusalem</option>
            <option>Bethlehem</option>
        </select>
        </p>
        <p> Favorite Language : <select name="Languages">
            <option>Python</option>
            <option>Java</option>
            <option>Java script</option>
        </select>
        </p>
        <p>Comment (optional)</p>
        <textarea name="comment" cols="20" rows="3"></textarea>
        <p><input type="submit" value="Button"></p>
    </form>
</body>
</html>