<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
</head>
<body>
    <h1>{{infoBook.title}}</h1>
    <p>ID : {{infoBook.id}}</p>
    <p>Describtion : {{infoBook.desc}}</p>

    <p>Authors :
    <ul>
        <!-- {% for author in author %} -->
        <li>{{author.first_name}} {{author.last_name}}</li>
        <!-- {% endfor %} -->
    </ul>
    </p>

</body>
</html>