<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{infoAuthor.first_name}} {{infoAuthor.last_name}}</h1>
    <p>ID : {{infoAuthor.id}}</p>
    <p>Notes : {{infoAuthor.notes}}</p>

    <p>Authors :
    <ul>
        <!-- {% for author in author %} -->
        <li>{{author.first_name}} {{author.last_name}}</li>
        <!-- {% endfor %} -->
    </ul>
    </p>
</body>
</html>