*{
    margin: 0;
    padding: 0;
}

.container{
    outline: black 5px solid;
    height: 873px;
    width: 1300px;
    margin: 0 auto;
}

header{
    height: 60px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.scores{
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 1033px;
    margin:13px 48px 0px 0px ;
}

h1{
    margin:12px 0px 0px 56px ;
    font-family: -webkit-pictograph;
}

nav{
    height: 50px;
    width: 1300px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    color: white;
}

.images{
    height: 22px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin: 13px 32px 0px 0px;
}

.major{
    height: 36px;
    width: 591px;
    display: flex;
    justify-content: space-between;
    margin-right: 185px;
    font-size: 21px;
    align-items: flex-end;
}

.major a{
    text-decoration: none;
    color: white;
}

h2{
    height: 48px;
    width: 150px;
    text-align: center;
    margin-top: 3px;
    font-size: 35px;
    font-family: cursive;
}

.box1{
    height: 271px;
    width: 241px;
    margin-top: 15px;
    font-family: cursive;
    background-color: white;
    border-radius: 15px;
}

h3{
    margin-left: 43px;
    font-size: 24px;
}

.ninjas{
    height: 182px;
    width: 221px;
    margin: 38px 0px 0px 10px;
    border-top: black 2px solid;
    font-size: 18px;
    border-top: black solid 4px;
}
#dsnn{
    background-color:#ff1800;
    transform: skew(-20deg);
    margin-left: 33px;
}

#blue{
    color: #118d97;
}

#red{
    color:#e42c3d;
}

.box2{
    height: 110px;
    width: 241px;
    margin-top: 70px;
    font-family: cursive;
    background-color: white;
    border-radius: 15px;
}

h4{
    margin-left: 29px;
    font-size: 17px;
}

.buttons{
    height: 37px;
    width: 225px;
    display: flex;
    justify-content: space-between;
    margin: 34px 0px 0px 9px;
}

.button1{
    background-color: #2b78e4;
    color: white;
    height: 29px;
    width: 83px;
    box-shadow: black 2px 2px;
    border: black 2px solid;
    margin-left: 15px;
}

.button2{
    height: 29px;
    width: 80px;
    box-shadow: black 2px 2px;
    border: black 2px solid;
    margin-right: 13px;
}

.box3{
    height: 168px;
    width: 241px;
    margin-top: 94px;
    font-family: cursive;
    background-color: white;
    border-radius: 15px;
}

h5{
    height: 65px;
    width: 196px;
    margin-left: 35px;
    font-size: 19px;
}

.box3 button{
    color: black;
    background-color: #ffe599;
    height: 46px;
    width: 173px;
    margin: 18px 0px 0px 28px;
    box-shadow: black 3px 3px;
    border: black 2px solid;
}

section{
    height: 510px;
    width: 912px;
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
}

.title{
    height: 88px;
    width: 835px;
    display: flex;
    justify-content: space-between;
}

.live{
    height: 70px;
    width: 118px;
    font-size: 53px;
    font-family: cursive;
    margin-top: 13px;
    margin-left: 96px;
    color: #cf2a28;
    list-style: revert;
}

::marker{
    color: #cf2a28;
}

h6{
    width: 584px;
    height: 69px;
    font-size: 47px;
    font-family: cursive;
    margin-top: 14px;
}

.left{
    width: 284px;
    height: 409px;
}

.left img{
    width: 152px;
    height: 161px;
    margin-left: 58px;
    margin-top: 14px;
}

.san{
    width: 284px;
    height: 47px;
    font-family: cursive;
    font-size: 30px;
    font-weight: 300;
}

.Ninjas{
    width: 284px;
    height: 62px;
    font-family: cursive;
    font-size: 41px;
}

.w{
    width: 180px;
    height: 36px;
    margin-left: 79px;
    font-size: 20px;
}

.number1{
    width: 269px;
    height: 75px;
    font-size: 63px;
    font-family: cursive;
}

.number2{
    width: 269px;
    height: 75px;
    font-size: 63px;
    font-family: cursive;
}

.middle{
    width: 269px;
    height: 375px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.vs{
    width: 269px;
    height: 84px;
    margin-top: 63px;
    font-size: 47px;
    font-family: cursive;
    font-weight: 300;
}

.time{
    width: 181px;
    height: 72px;
    margin-top: 98px;
    margin-left: 56px;
    font-size: 23px;
}

footer{
    width: 912px;
    height: 193px;
    margin-top: 30px;
    font-family: cursive;
    font-size: 30px;
    background-color: white;
    border-radius: 15px;
    border-top: 5px solid black;
}

.last{
    width: 800px;
    height: 178px;
    margin-left: 52px;
    margin-top: 12px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    background-color: #dddddd;
    height: 765px;
    width: 1300px;
}