<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'DojoSurvey.css'%}"> 
</head>
<body class="body">
    <form action="result" method="post">
        {% csrf_token %}
        <p class="name">Your Name : <input class="border" type="text" name="username"></p>
        <p class="location"> Dojo Location : <select class="border" name="Location">
            <option>Ramallah</option>
            <option>Jerusalem</option>
            <option>Bethlehem</option>
        </select>
        </p>
        <p class="language"> Favorite Language : <select class="border" name="Languages">
            <option>Python</option>
            <option>Java</option>
            <option>Java script</option>
        </select>
        </p>
        <p class="comment">Comment (optional)</p>
        <textarea class="text" name="comment" cols="20" rows="3"></textarea>
        <p><input class="button" type="submit" value="Button"></p>
    </form>
</body>
</html>